html{
    position: relative;
}

body {
    margin-bottom: 100px;
}



.jumbotron img {
    width: 200px;
    border: 5px solid #666;
}

hr {
    width: 200px;
    border-top: 4px solid #666;
}
section {
    min-height: 600px;
}


.contact    {
min-height: 800px;
}


.portofolio {
    background-color: #eee;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color:#333;
    color: #aaa;
}

footer p i {
    color: salmon;
}